<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487668312091-5o8bteel7v1bgo6cv32j11tud9un06jc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487668312091-5o8bteel7v1bgo6cv32j11tud9un06jc</string>
	<key>API_KEY</key>
	<string>AIzaSyDmZssB3MjIAtcgew808khDbygeYJf6ioQ</string>
	<key>GCM_SENDER_ID</key>
	<string>487668312091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myWorkoutApp</string>
	<key>PROJECT_ID</key>
	<string>my-workout-app-9deb3</string>
	<key>STORAGE_BUCKET</key>
	<string>my-workout-app-9deb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487668312091:ios:1cef7f5e98e6e536c270be</string>
</dict>
</plist>